.header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(0deg, #00000000, #0f1500);
}
.themeButton {
  border-radius: 16px;
  padding: 11px 34px;
  background-image: linear-gradient(0deg, #dcbb75, #ad8749);
  color: white;
  background-size: 100% 100%;
  transition: 0.3s;
}
.themeButton:hover {
  background-size: 100% 300%;
}
.icons {
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
}
.icons:hover {
  opacity: 1;
  color: white;
}
.hover-transition {
  transition: 0.3s;
}
.BannnerSwiper .container.h-full .grid:before {
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #00000054;
  z-index: -1;
}
