@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 
body {
  animation: animateBg 14s ease infinite;
  background-color: #0F1500;
  background-image: linear-gradient(90deg, #283606, #0F1500);
  background-size: 140% 100%;
}
@keyframes animateBg {
  0% {
      background-position: 0 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 0 50%
  }
}
p{
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: white;
}
h1{
  font-size:70px; 
}
h2{
  font-size: 50px; 
}
h3{
  font-size: 40px; 
}
h4{
  font-size: 30px; 
}
section{
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto; 
  padding: 0px 80px; 
  width: 100%; 
} 
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px; 
  }
}