@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 
p{
  font-family: var(--font-inter), sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1{
  font-size:70px;
}
h2{
  font-size: 50px; 
}
h3{
  font-size: 40px; 
}
h4{
  font-size: 30px; 
}
section{
  overflow-x: hidden;
}
.container {
  max-width: 1366px;
  margin: 0 auto; 
  padding: 0px; 
  width: 100%; 
} 